@font-face {
  font-family: 'SolaimanLipi';
  src: url('../../fonts/SolaimanLipi/SolaimanLipi.eot');
  src: url('../../fonts/SolaimanLipi/SolaimanLipi.woff') format('woff'),
    url('../../fonts/SolaimanLipi/SolaimanLipi.ttf') format('truetype'),
    url('../../fonts/SolaimanLipi/SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
    url('../../fonts/SolaimanLipi/SolaimanLipi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* * {
    font-family: 'SolaimanLipi', sans-serif !important;
} */

body {
  font: 'SolaimanLipi', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
label,
input,
select,
option,
textarea,
a,
center,
div,
button,
li {
  font-family: 'SolaimanLipi', sans-serif !important;
}

.my_font {
  font-family: 'SolaimanLipi', sans-serif !important;
}